@import "./styles/fonts/fonts.css";
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --default-font-family: "MyFont";
  --text-default: clamp(2rem, 1rem + 1.5vw, 5rem);
}


@utility flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
@utility title{
    width: 30rem
}

@layer base {
  body {
    font-size: 1.5rem;
  }
}